.uag-star-rating__wrapper{display:flex;align-items:center}.uag-star-rating__wrapper.uag-star-rating__layout-stack{display:block}.uag-star-rating__wrapper .uag-star-rating__title{margin:0}.uag-star-rating__wrapper .uag-star{color:#ccd6df}
 .uagb-block-.uag-star-rating__wrapper{justify-content: flex-start;} .uagb-block- .uag-star:nth-child(0):before{position: absolute;content: '★';overflow: hidden;} .uagb-block- .uag-star:nth-child(0){position: relative;}